<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <title>新建文章</title>
</head>
<body>
<div class="container" ng-controller="newPostController">
    <div>
        <input type="text" placeholder="文章标题" ng-model="title">
    </div>
    <div><p>内容</p>
        <textarea ng-model="content"></textarea>
    </div>
    <div>
        <button class="btn btn-primary" type="button" ng-click="submitPost()">发布</button>
    </div>
</div>
<script src="//cdn.bootcss.com/require.js/2.3.3/require.js" data-main="/static/post/js/main.js"></script>
</body>
</html>