<div class="container" ng-controller="userManagerController">

    <div class="form-group">
        <div class="row">

            <div class="col-sm-1">
                <label for="username">用户名</label>
            </div>
            <div class="col-sm-3">
                <input id="username" class="form-control" ng-model="username">
            </div>

            <div class="col-sm-1">
                <label for="email">邮箱</label>
            </div>
            <div class="col-sm-3">
                <input id="email" class="form-control" ng-model="email">
            </div>

            <div class="col-sm-1">
                <label for="sign-up-time">注册时间</label>
            </div>
            <div class="col-sm-3">
                <input id="sign-up-time" class="form-control" ng-model="signUpTime">
            </div>
        </div>
        <h1></h1>
        <div class="row">
            <div class="col-sm-1">
                <label for="last-login-time">最后登录时间</label>
            </div>
            <div class="col-sm-3">
                <input id="last-login-time" class="form-control" ng-model="lastVisitTime">
            </div>

            <div class="col-sm-1">
                <button class="btn btn-primary" type="button" ng-click="searchUser()">查询</button>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary" type="button" ng-click="resetSearch()">清空</button>
            </div>
        </div>
    </div>

    <div>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>用户名</th>
                    <th>邮箱</th>
                    <th>注册时间</th>
                    <th>最后登录时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in users" ng-cloak>
                    <td>{{ item.username }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.signUpTime }}</td>
                    <td>{{ item.lastVisitTime }}</td>
                    <td>
                        <button class="btn btn-primary">禁用</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>