<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册用户管理</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap-datepicker/1.7.0-RC3/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="/static/auth/css/login.css" rel="stylesheet">

</head>
<body>
{% include 'user/_user_manager_table.html' %}
<script src="//cdn.bootcss.com/require.js/2.3.3/require.js" data-main="/static/user/js/main.js"></script>
</body>
</html>