<form class="form-horizontal" role="form" method="post" about="log_in">
    [[ form.csrf_token ]]

    <div class="form-group">
        [[ form.username.label(class='col-sm-2 control-label') ]]
        <div class="col-sm-2">
            [[ form.username(class='form-control', placeholder='请输入用户名') ]]
        </div>
    </div>

    <div class="form-group">
        [[ form.email.label(class='col-sm-2 control-label') ]]
        <div class="col-sm-2">
            [[ form.email(class='form-control', placeholder='请输入邮箱', type='email') ]]
        </div>
    </div>

    <div class="form-group">
        [[ form.password.label(class='col-sm-2 control-label') ]]
        <div class="col-sm-2">
            [[ form.password(class='form-control', placeholder='请输入密码') ]]
        </div>
    </div>

    <div class="form-group">
        [[ form.repeat_password.label(class='col-sm-2 control-label') ]]
        <div class="col-sm-2">
            [[ form.repeat_password(class='form-control', placeholder='请再次输入密码') ]]
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">登录</button>
        </div>
    </div>
</form>